@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Custom tabstrip item class
.navigation__item {
  &:active,
  &:active Label {
    @include colorize($contrasted-color: complementary background 20% 0%);
  }
}

.button_color {
    &-red {
        font-family: Cambria;
        background-color: tomato;
        color: black;
        border-color: indianred;
        border-radius: 20;
        border-width: 1;
        font-size: 18;
        font-weight: bold;
        margin: 50px 0;
    }

    &-blue {
        font-family: Cambria;
        background-color: deepskyblue;
        color: black;
        border-color: darkcyan;
        border-radius: 20;
        border-width: 1;
        font-size: 18;
        font-weight: bold;
        margin: 50px 0;
    }

    &-none {
        font-family: Cambria;
        border: 0;
        color: black;
        text-decoration: underline;
    }
}

.title {
    font-family: Cambria;
    font-size: 30;
    font-weight: bold;
    text-align: left;
    color: black;
    margin-left: 10;

    &-bottom {
        font-family: Cambria;
        font-size: 24;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-bottom: 50;
    }

    &-top {
        font-family: Cambria;
        font-size: 24;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-top: 50;
    }

    &-medium {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
        color: black;
        margin: 20 0;
    }

    &-small {
        font-family: Cambria;
        font-size: 14;
        text-align: left;
        color: black;
        font-weight: bold;
        margin: 5 10;
    }
}

.text_field {
    color: dimgray;
    border-color: darkgray;
    border-radius: 20;
    border-width: 1;
    margin: 20px;
    padding-left:20;
}

.person {
    &-name {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
        color: red;
        background-color: floralwhite;
        margin: 20 0;
    }

    &-name2 {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
    }

    &-passion {
        font-family: Cambria;
        font-size: 14;
        text-align: center;
        color: deepskyblue;
        background-color: ghostwhite;
        margin: 10 0;
    }

    &-description {
        font-family: Cambria;
        font-size: 12;
        text-align: justify;
        color: darkblue;
        margin: 10;
    }

    &-message {
        &-recu {
            font-family: Cambria;
            font-size: 20;
            text-align: left;
            color: darkblue;
            background-color: cadetblue;
            margin: 10 0;
            padding-left: 20;
        }

        &-envoye {
            font-family: Cambria;
            font-size: 20;
            text-align: right;
            color: darkblue;
            background-color: tomato;
            margin: 10 0;
            padding-right: 20;
        }

        &-name {
            font-family: Cambria;
            font-size: 12;
            text-align: left;
            font-weight: bold;
            color: dark;
            padding-left: 10;
        }

        &-yourname {
            font-family: Cambria;
            font-size: 12;
            text-align: right;
            font-weight: bold;
            color: dark;
            padding-right: 10;
        }
    }
}

.profil {
    &-name {
        font-family: Cambria;
        font-size: 25;
        font-weight: bold;
        text-align: center;
        color: midnightblue;
        background-color: powderblue;
        margin: 20 0 0;
    }

    &-localisation {
        font-family: Cambria;
        font-size: 25;
        font-weight: bold;
        text-align: center;
        color: firebrick;
        background-color: burlywood;
        margin: 0 0 20;
    }

    &-titleM {
        font-family: Cambria;
        font-size: 30;
        font-weight: bold;
        text-align: left;
        color: black;
        background-color: powderblue;
        margin: 20 0;
        padding-left: 20;
    }

    &-title {
        font-family: Cambria;
        font-size: 18;
        text-align: left;
        color: black;
        font-weight: bold;
        margin: 5 10;
    }

    &-data {
        font-family: Cambria;
        font-size: 16;
        font-style: italic;
        text-align: right;
        color: black;
        margin-right: 10;
    }
}
