@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Custom tabstrip item class
.navigation__item {
  &:active,
  &:active Label {
    @include colorize($contrasted-color: complementary background 20% 0%);
  }
}

// Common page class
.page__content {
  &-icon,
  &-placeholder {
    color: const(grey);
    font-size: 20;
    vertical-align: center;
    horizontal-align: center;
  }

  &-icon {
    font-size: 72;
    vertical-align: top;
    margin-top: 20%;
  }
}

.button_color {
    &-red {
        background-color: tomato;
        color: black;
        border-color: indianred;
        border-radius: 20;
        border-width: 1;
        font-size: 18;
        font-weight: bold;
        margin: 50px 0;
    }

    &-blue {
        background-color: deepskyblue;
        color: black;
        border-color: darkcyan;
        border-radius: 20;
        border-width: 1;
        font-size: 18;
        font-weight: bold;
        margin: 50px 0;
    }

    &-none {
        border: 0;
        color: black;
        text-decoration: underline;
    }
}

.title {
    font-family: Cambria;
    font-size: 30;
    font-weight: bold;
    text-align: left;
    color: black;
    margin-left: 10;

    &-bottom {
        font-family: Cambria;
        font-size: 24;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-bottom: 50;
    }

    &-top {
        font-family: Cambria;
        font-size: 24;
        font-weight: bold;
        text-align: center;
        color: black;
        margin-top: 50;
    }

    &-medium {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
        color: black;
        margin: 20 0;
    }

    &-small {
        font-family: Cambria;
        font-size: 14;
        text-align: left;
        color: black;
        font-weight: bold;
        margin: 5 10;
    }
}

.text_field {
    color: dimgray;
    border-color: darkgray;
    border-radius: 20;
    border-width: 1;
    margin: 20px;
    padding-left:20;
}

.person {
    &-name {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
        color: red;
        background-color: floralwhite;
        margin: 20 0;
    }

    &-name2 {
        font-family: Cambria;
        font-size: 18;
        text-align: center;
    }

    &-passion {
        font-family: Cambria;
        font-size: 14;
        text-align: center;
        color: deepskyblue;
        background-color: ghostwhite;
        margin: 10 0;
    }

    &-description {
        font-family: Cambria;
        font-size: 12;
        text-align: justify;
        color: darkblue;
        margin: 10;
    }
}
